@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 60px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: white;
    opacity: 0.9;
}
h3{
    font-size: 45px;
    font-weight: 600;
}
*{
    font-family: Montserrat,sans-serif;
}
::selection{
    background: rgba(52, 52, 52, 0.35);
}
::-moz-selection{
    background: rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar {
    width: 9px;
    background: rgba(0, 0, 0, 0.88)
}
::-webkit-scrollbar-thumb {
    background: rgba(244, 67, 54, 0.83);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #f44336;
}
.header_photo{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
}
.header_photo:before{
    content: '';
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    /*height: 0vh;*/
    transform: translateX(-100%);

    transform-origin: left;
    background: url('../bg.jpg') no-repeat center center/cover;
    transition: all 0.6s ease;
}
.header_photo.bef::before{
    content: '';
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    transform: translateX(0%);
    transform-origin: left;
    background: url('../bg.jpg') no-repeat center center/cover;
    transition: all 0.6s ease;
}
/*#active-text{
    display: inline;
}*/
.logo{
    /*display: flex;
    justify-content: left;*/
    position: relative;
    font-family: Montserrat,sans-serif;
    color: white;
    font-size: 90px;
    font-weight: 600;
    margin-top: 15vh;
    margin-left: 8%;
    cursor: pointer;
    width: 40%;
    opacity: 0;
    transition: all ease;
    transition-duration: 0.5s;
}
.hidden-text{
    display: none;
    opacity: 0;
    transition: 0.8s ease-in-out;
    position: absolute;
    width: 360px;
}
.logo-main-text{
    padding-right: 0.3%;
    transition: 0.6s ease-in-out;
}
.scrollDown{
    margin: 0 auto;
    margin-top: 80vh;
    text-align: center;
    cursor: pointer;
}
.side-menu{
    width: 15%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    right: 0;
    /*transition: 0.8s ease-in;*/
}
.desktop{
    color: rgba(163, 160, 159, 0.72);
    opacity: 0.5;
    font-family: Montserrat,sans-serif;
    padding-left: 5%;
}
.anim-line{
    width: 2px;
    height: 55px;
    background-color: #a3a09f;
    display: block;
    position: absolute;
    bottom: 10vh;
    left: 45%;
    -webkit-animation: line 1.5s linear infinite;
    animation: line 1.5s linear infinite;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    cursor: pointer;
    pointer-events: none;
}
@keyframes line {
    from{height: 8px;}
    10% {height: 64px;}
    15% {height: 54px;}
    25% {height: 54px;}
    to{height: 8px;}
}
.active_side-menu{
    background: #F44336;
    position: fixed;
    z-index: 900;
    right: 0;
    width: 15%;
    height: 100%;
    display: none;
}
.header_wrapper{
    display: flex;
    position: relative;
}
.menu{
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    margin-top: 50px;
    width: 40px;
    position: fixed;
    right: 60px;
    top: -2px;
    transition: 0.8s!important;
    z-index: 999;
    opacity: 0.7;
}
.hamburger{
    list-style: none;
    float: right;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: all 233ms cubic-bezier(.5,0,0,1);
    padding: 10px 0;
    z-index: 999;
}
.hamburger li{
    width: 30px;
    height: 2px;
    background: #a3a09f;
    margin: 6px 0 0;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .7s cubic-bezier(.5,0,0,1);
}
.hamburger .first{
    margin: 0;
    webkit-transform: translateX(2px);
    transform: translateX(2px);
}
.hamburger .second{
    webkit-transform: translateX(-12px);
    transform: translateX(-12px);
}
.hamburger .third{
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.close_menu{
    display: none;
}
.active_close_menu{
    webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: #a3a09f;
}
.menu:hover .first{webkit-transform: translateX(0px);transform: translateX(0px);background: #F44336;}
.menu:hover .second{webkit-transform: translateX(4px);transform: translateX(4px); background: #F44336;}
.menu:hover .third{webkit-transform: translateX(15px);transform: translateX(15px); background: #F44336;}
.menu:hover{opacity: 1;/*border-radius: 50%;background: rgba(85, 85, 85, 0.15)*/}

.side-menu-links_wrapper{
    margin: 0 auto;
    text-align: right;
    width: 75%;
    top: 35%;
    right: 20%;
    position: absolute;
}
.side-menu-item a{
    width: 100%;
    line-height: 15;
    padding: 10px;
    color: #a3a09f;
    opacity: 0.8;
    font-size: 14px;
    transition: .2s;
    font-weight: 500;
    text-decoration: none;
}

.side-menu-item a span{
    width: 2px;
    height: 55px;
    background-color: #a3a09f;
    display: block;
    bottom: 35%;
    right: 10px;
    position: absolute;
    pointer-events: none;
    transition: .2s;
}
.side-menu-item:nth-of-type(1) a span{
    bottom: 85%;
}
.side-menu-links_wrapper div{
    cursor: pointer;
}
.side-menu-item:hover a{
    color: #fff;
}
.side-menu-item:hover span{
    color: #fff;
    height: 12px;
    webkit-animation: d .3s linear;
    animation: d .3s linear;
}
.active-hover:hover{
    background: #4b4847;
}
.navigation{
    font-family: Montserrat,sans-serif;
    margin-top: 30vh;
    padding-left: 10%;
}
.navigation_link{
    font-size: 24px;
    margin-bottom: 10vh;
    color: #b4b1b0;
    cursor: pointer;
}
.navigation_link a{
    text-decoration: none;
    color: #b4b1b0;
}
.navigation_link span{
    font-size: 15px;
    padding-right: 15%;
    color: rgba(0,0,0,0.95);
    transition: 0.4s ease-in-out;
}
.navigation_link:hover a{
    color: rgba(0,0,0,0.95);
    transition: 0.6s ease-in-out;
    font-size: 25px;
}
.navigation_link:hover span{
    color: #b4b1b0;
    transition: 0.6s ease-in-out;
    font-size: 18px;
}
.window_wrapper{
    position: absolute;
    left: 0;
    top: 30%;
    width: 40%;
}
/*.console_toolbar>h1{
    font-size: 22px;
    line-height: 1.4;
}
.console_toolbar{
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: Montserrat,sans-serif;
    color: #cfcccb;
}
.console_body_container{
    background-color: rgba(3, 3, 3, 0.76);
    height: 300px;
    color: rgba(0, 205, 205, 0.95);
    padding: 1% 5% 1% 5%;
}*/

@media (max-width: 1024px ) {
    .logo{
        font-size: 60px;
    }
}
@media (max-width: 768px){
    .logo {
        font-size: 47px;
    }
}
/*------------------------------------------------------main content-start------------------------------------------------*/
main{
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
}

.section_container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
.about_us_section{
    /*height: 100%;*/
    /*background: #2f2f2e;*/
}
.about_content_container{
    color: #fffff0;
    height: 100%;
    opacity: 0;
    width: 100%;
}
.about-text_content{
    position: relative;
}
.about_text{
    position: absolute;
    top:0;
    left: 0;
    font-size: 35px;
    color: #a3a09f;
    opacity: 0.9;
    width: 80%;
    line-height: 1.5;
    margin-top: 20%;
    margin-bottom: 40%;
    /*transition: all 100ms ease;*/
}
.about_text p{
    transition: all 200ms ease;
}
.about_h2, .line{
    position: relative;
    display: inline-block;
    transition: all 300ms ease;
}
.about_h2::before, .line:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #fffff0;
    top: 50%;
    opacity: 0;
}
.line:before{
    opacity: 1;
}
.large-block_wrapper{
    position: relative;
    margin-top: 45vh;
    color: #fffff0;
    font-size: 70px;
    font-weight: 600;
    left: 0;
    /*height: 100%;*/
    line-height: 1;
    opacity: 0.9;
}

@media (max-width: 1440px ) {
    .large-block_wrapper {
        margin-top: 55vh;
    }
    .case_wrapper{
        width: 45%;
    }
}
@media(max-width: 1024px){
    .large-block_wrapper {
        font-size: 62px;
    }
}
@media (max-width: 768px) {
    .large-block_wrapper {
        margin-top: 60vh;
    }
}
/*------------------------------------------------------cases start*--------------------------------------------------*/
.cases_section{
    /*position: relative;
    height: 60vh;*/
    opacity: 1;
}
.cases_container{
    transform: translateY(50vh);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    /*margin-top: 7%;*/
    margin-top: 7%;
    text-align: center;/*
    position: absolute;
    top: 90%;
    width: 70%;*/
}
.case_wrapper{
    position: relative;
    background: url("./../static/caseimage.png") no-repeat 50% 100%;
    background-size: 100% 100%;
    width: 40%;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 0 55px 0 rgba(107, 107, 107, 0.4);
    cursor: pointer;
    transition: 0.6s ease-in-out;
    border-radius: 2px;
    /*width: 598px;
    height: 530px;*/
}
.case_wrapper:hover{
    background-size: 120% 120%;
    transition: 0.6s ease-in-out;
}
.case_wrapper span{
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 600;
    left: -5%;
    top: 25%;
}
.case_wrapper strong{
    color: #a3a09f;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 15%;
    left: -5%;
}
.case_wrapper img{
    box-shadow: 0 0 55px 0 rgba(107, 107, 107, 0.4);
    max-width: 100%;
    width: 90%;
    height: 80%;
}
.full_case_wrapper{
    position: relative;
}
.full_case_content{
    margin: 8% 5% 0;
}
.full_case_content h4{
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    color: #1C1D1E;
    opacity: 0.9;
}
.case_descr_wrapper{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.visual{
    background-size: 100% 100%;
    width: 40%;
    height: 100%;
    min-height: 400px;
    border-radius: 2px;
    box-shadow: 0 0 55px 0 rgba(14, 14, 14, 0.9);
}
#visual1{
    background: url("./../static/caseimage.png") no-repeat 50% 100%;
}
.about_case_text{
    width: 50%;
    font-size: 25px;
    color: #373433;
    line-height: 1.2;
}
.case_toolbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f44336;

}
.toolbar_icons_wrapper{
    display: flex;
    justify-content: space-between;
    width: 35%;
    flex-wrap: wrap;
    margin: 1% auto 0;
}
.toolbar_icons_wrapper div{
    opacity: .6;
    transition: .4s ease;
    cursor: pointer;
}
.toolbar_icons_wrapper div:hover{
    opacity: 1;
    transition: .4s ease;
}
.counter{
    padding-left: 5px;
}

@media(max-width: 1024px) {
    .section_container{padding-top: 15%}
    .cases_container{margin-top: 10%}
    .case_wrapper{width: 47%;min-height: 370px}
}
@media (max-width: 768px) {
    .case_wrapper span{line-height: 1;}
    .cases_container{
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .case_wrapper{
        margin-bottom: 10%;
        width: 97%;
    }
    .active_tab-link{
        text-align: right;
    }
}
/*------------------------------------------------------cases end*---------------------------------------------------*/

/*------------------------------------------------------services start*-----------------------------------------------*/
.services_section{
    padding-bottom: 10%;
    color: #a3a09f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    flex-wrap: wrap;
    /*z-index: 999;*/
    padding-top: 15%;
    /*margin-top: 20vh;*/
    transform: translateY(50vh);
}
.tabs_content_container{
    text-align: left;
    display: none;
    width: 65%;
    webkit-animation: g .2s cubic-bezier(.55,.055,.675,.19);
    animation: g .2s cubic-bezier(.55,.055,.675,.19);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes g {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.tabs_content_container>h3{
    color: #fffff1;
    opacity: 0.7;
    padding-bottom: 5%;
}
.tabs_content_container>p{
    font-size: 20px;
    opacity: 0.3;
    line-height: 1.5;
    width: 80%;
}
.active_tab-content{
    display: block;
    -webkit-animation: e .4s cubic-bezier(.55,.055,.675,.19);
    animation: e .4s cubic-bezier(.55,.055,.675,.19);
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes e {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.tabs_container{
    width: 35%;
    text-align: left;
    /*padding-top: 5%;*/
}
.services_tab{
    margin-bottom: 7%;
    opacity: .5;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-left: 35%;
    transition: .2s;
    position: relative;
}
.services_tab span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*background-color: #d8d8d8;*/
    border: 1.5px solid #f44336;
    opacity: .3;
    display: block;
    float: left;
    transition: .4s;
    margin-right: 14px;
    position: absolute;
    left: 27%;
    top: 20%;
}
.active_tab-link{
    color: white;
    opacity: 0.7;
    font-size: 18px;
}
.active_tab-link span{
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 1;
    transition: .4s;
}
.active_tab-link .circle{
    webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: .3s;
}

/*------------------------------------------------------services end*-------------------------------------------------*/



/*------------------------------------------------------footer--------------------------------------------------------*/
footer{
    background: rgba(49, 49, 49, 0.85);
    height: 100vh;
    position: relative;
    z-index: 200;
}
.footer_section{
    padding-top: 5%;
}
.contacts{
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.contact_buttons_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15%;
}
.contact_button{
    cursor: pointer;
    color: #a3a09f;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #1C1D1E;
    width: fit-content;
    padding: 20px 50px 20px 50px;
    border-radius: 3px;
    background-position: 100% 0;
    position: relative;
    transition: .6s;
    overflow: hidden;
}
.contact_button span{
    position: relative;
    z-index: 22;
}
.contact_button_before:before{
    background-color: #f44336;
    content: " ";
    display: block;
    width: 1%;
    left: -40px;
    position: absolute;
    transition: .6s;
    transform: skew(-45deg, 45deg);
    height: 400%;
    top: -100px;
}
.contact_button:hover::before{
    width: 150%;
    content: "";
    text-align: center;
    transition: .6s;
}
.breef_button{
    float: right;
}
.contacts div{
    margin-bottom: 7%;
    font-size: 60px;
    color: #d8d8d8;
}
.contacts div a{
    cursor: pointer;
    transition: .7s ease-in-out;
}
.contacts>div:hover{
    /*font-size: 70px;*/
    color: #1C1D1E;
}
.contacts div:first-child{
    font-size: 70px;
}
.disable_contact{
    font-size: 60px;
    transition: .7s ease-in-out;
}
.form_wrapper{
    background-color: rgb(144, 144, 144);
    height: 0;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 0;
    display: none;
    transition: .6s ease-in-out;
}
.form_group input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1C1D1E;
    outline: 0;
    outline-offset: 0;
    width: 100%;
    font-size: 20px;
    color: #373433;
    height: 45px;
}
/*.form_group span{
      pointer-events: auto;
      position: static;
  }*/
.form_group textarea{
    background-color: transparent;
    outline: 0;
    outline-offset: 0;
    border: none;
    border-bottom: 2px solid #1C1D1E;
    resize: none;
    width: 100%;
    font-size: 20px;
}
.contact_form{
    margin: 15% auto 0;
    width: 50%;
    transition: .6s ease-in-out;
}
.inline_group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.form{
    display: block;
}
.form_group{
    width: 48%;
}
.input{
    position: relative;
}
.focus_area{
    position: absolute;
    top: -12px;
    left: 2px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(31, 32, 33, 0.91);
    transition: all ease-out .2s;
    transform-origin: 0 50%;
}
.textarea_focus{
    top: 5px;
}
.close_btn{
    position: absolute;
    top: 7%;
    left: 3%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.close_x{
    position: relative;
    list-style: none;
    transition: all 233ms cubic-bezier(.5,0,0,1);
    width: 100%;
    height: 100%;
}
.left,.right{
    width: 30px;
    height: 2px;
    background: #1C1D1E;
    margin-top: 50%;
    margin-left: 10px;
    position: absolute;
    transition: .4s ease-in-out;
}
.left{
    transform: rotateZ(40deg);
}
.right{
    transform: rotateZ(-40deg);
}
.close_x:hover .left{
    background: #f44336;
    transition: .3s ease-in-out;
    transform: rotateZ(45deg);
}
.close_x:hover .right{
    background: #f44336;
    transition: .3s ease-in-out;
    transform: rotateZ(-45deg);
}
.input_bottom{
    width: 100%;
}
input.not_empty ~ .focus_area, input:focus ~ .focus_area{
    top: -35px;
    font-size: 14px;
    font-weight: 500;
    transition: all ease-out .2s;
}
textarea.not_empty ~ .focus_area, textarea:focus ~ .focus_area{
    top: -35px;
    font-size: 14px;
    font-weight: 500;
    transition: all ease-out .2s;
}
.submit_btn{
    text-align: right;
    margin-top: 2%;
}
.submit_btn>button{
    background-color: #00000033;
    border: none;
    color: rgba(28, 29, 30, 0.67);
    font-weight: 600;
    font-size: 30px;
    transition: .4s;
    box-shadow: none;
    float: right;
    outline: 0;
    cursor: pointer;
    text-align: right;
    border-radius: 3px;
    padding: 1% 5% 1% 5%;
}
.submit_btn>button:hover{
    /*color: #1C1D1E;*/
    transition: .4s;
    background-color: #f44336;
}
.foot_wrapper{
    padding-left: 10%;
    padding-right: 10%;
    color: #1C1D1E;
}
.copyright{
    font-weight: 600;
    font-size: 20px;
    margin-top: 12%;
    float: left;
    position: relative;
    z-index: 100000;
}
@media(max-width: 1024px){
    .contacts div:first-child {
        font-size: 65px;
    }
    .contacts{
        margin-top: 30%;
    }
    .contacts div {
        margin-bottom: 12%;
    }
    .contact_buttons_container {
        margin-top: 30%;
    }
    .copyright{
        margin-top: 50%;
    }
}
@media (max-width: 768px) {
    .contacts div {
        font-size: 50px;
    }
    .contacts div:first-child {
        font-size: 50px;
    }
    .inline_group{
        flex-direction: column;
    }
    .form_group{
        width: 100%;
        margin-bottom: 15%;
    }
    .contact_form{
        margin: 25% auto 0;
        width: 75%;
    }
}
